<footer class="footer py-3 mt-auto" style="background-color: #DC3545;">
    <div class="container" style="color: rgb(253, 254, 255); text-align: center;">
        <span class="text-muted">&copy; campfiy 2022</span>
    </div>
</footer>